<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="title">
      <h1>filter preferences</h1>
    </header>
    <div class="bars">
      <h3>age range</h3>
      <input type="range" name="age" id="age" />
      <h3>radius</h3>
      <input type="range" name="radius" id="radius" />
      <h3>religion</h3>
      <input type="text" name="religion" id="religion" />
    </div>
  </body>
</html>
